.item{
    width:190px;
    height: 300px;
    float: left;
    margin-left: 10px;
    font-size: 11px;
    /* border: 1px solid red; */
}
.item .price {
    font-weight: bold;
    font-size:18px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}